.block1 {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: 'Montserrat-semi';
        font-weight: 600;
        font-size: 40px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        color: #282828;

        margin-bottom: 30px;
    }

    .location {
        display: flex;
        margin-bottom: 40px;
        
        &:last-child {
            justify-content: space-between;
            margin-bottom: 0;
            flex-direction: row-reverse;

            .wrapper-loc-text {
                margin-left: 0;
                margin-right: 40px;
            }
        }

        .pic {
            width: 100%;
            max-width: 580px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        
        .wrapper-loc-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 40px;
            gap: 30px;

            .text-block {
                display: flex;
                flex-direction: column;

                .opacity-title {
                    color: #909090;

                    font-family: 'Montserrat-bold';
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 120%;
                    letter-spacing: 0px;

                    margin-bottom: 10px;

                }
                .text {
                    font-family: 'Montserrat-reg';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0px;

                    color: #1B1A1A;
                }
            }

            .nav {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .list-item {
                    cursor: pointer;
                    font-family: 'Montserrat-reg';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #000200;

                    background-color: transparent;
                    border: 1px solid #252324;
                    padding: 12px 24px;
                }
            }
        }
    }

}

@media (max-width:845px) {
    .block1 .location {
        flex-direction: column;
        margin-bottom: 50px;

        .pic {
            max-width: 100%;
        }
    }
    .block1 .location:last-child {
        flex-direction: column;
    }

    .block1 .location .wrapper-loc-text {
        margin: 0;
        margin-top: 20px;
    }
    .block1 .location:last-child .wrapper-loc-text {
        margin-right: 0;
    }
}

@media (max-width:768px) {
    .block1 .location .wrapper-loc-text .nav .list-item .table-text {
        display: none;
    }
}

@media (max-width:545px) {
    .block1 .location .wrapper-loc-text .nav .list-item {
        width: 100%;
        max-width: 170px;
        min-width: 170px;
        box-sizing: border-box;
        padding: clamp(8px,2vw,12px) 0;
        text-align: center;
    }
}