.block2 {
    .mySwiper-bithday {
        margin-bottom: 30px;
        .swiper-wrapper .swiper-slide {
            width: 100%;
            max-width: 580px;
            display: flex;
            align-self: center;
            overflow: hidden;
        }
        .swiper-wrapper .swiper-slide .block {
            padding: 0;
            margin: 0;
            max-height: clamp(409px, 50vw, 600px);
        }
        .swiper-wrapper .swiper-slide .block .pic {
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
    
            .mob {
                display: none;
            }
        }

    }
    .container {
        display: flex;
        justify-content: space-between;

        .title-text {
            max-width: 475px;
            font-family: 'Inter-bold';
            font-weight: 600;
            font-size: 40px;
            line-height: 110.00000000000001%;
            letter-spacing: 0px;
            color: #1B1A1A;
        }
        .container-block {
            display: flex;
            width: 100%;
            max-width: 580px;
            flex-direction: column;
            justify-content: space-between;

            .text {
                max-width: 450px;
                font-family: 'Inter-reg';
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0px;
                color: #282828;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width:785px) {
    .block2 .mySwiper-bithday .swiper-wrapper .swiper-slide .block .pic {
        min-width: 279px;
        max-width: clamp(279px, 45vw, 370px);
    }
    .block2 .mySwiper-bithday .swiper-wrapper .swiper-slide .block .pic img{

        width: auto;
    }
}


@media (max-width:705px) {
    .block2 .container {
        flex-direction: column;
    }
    .block2 .container .title-text {
        margin-bottom: 10px;
    }
    .block2 .container .container-block .text {
        margin-bottom: 20px;
    }
}

@media (max-width:650px) {
    .block2 .pic .desc {
        display: none;
    }
    .block2 .mySwiper-bithday .swiper-wrapper .swiper-slide .block .pic .mob {
        display: block;
        height: 100%;
        object-fit: cover;
        max-height: 500px;
    }
}

@media (max-width:600px) {
    .block2 .pic {
        margin-bottom: 20px;
    }
}