.block5{
    display: flex;
    flex-direction: row;
    .pic{
        grid-area: photo;
    }

    h2 {
        grid-area: title;

        font-family: 'Montserrat-semi';
        font-weight: 600;
        font-size: 40px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;

        color: #1B1A1A;
    }
    .wrapper-text-block{
        display: flex;
        flex-direction: column;
        grid-area: textBlock;
        margin-left: 40px;
        gap: 30px;

        .text-block{
            display: flex;
            gap: 20px;
            .block{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                max-width: 373.5px;
                justify-content: space-between;
                padding: 0;

                margin-top: 0;

                .sub-title{
                    font-family: 'Montserrat-bold';
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 120%;
                    letter-spacing: 0px;

                    color: #909090;

                }
                .text{
                    width: 100%;
                    max-width: 270px;

                    font-family: 'Montserrat-reg';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0px;

                    color: #1B1A1A;
                }
            }
        }
    }
}

@media (max-width:880px) {
    .block5 {
        display: grid;
        grid-template-areas:
        'title'
        'photo'
        'textBlock';
        flex-direction: column;
        gap: 20px;
        h2 {
            display: flex !important;
            grid-area: title;
        }
        .wrapper-text-block {
            h2 {
                display: none !important;
            }
        }
    }
    .block5 .wrapper-text-block {
        gap: 20px;
        margin-left: 0;
    }
    .block5 .wrapper-text-block .text-block .block {
        padding: 0;
    }

    .block5 .pic {
        display: flex;
        width: 100%;
        max-height: 500px;
        grid-area: photo;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:600px) {
    .block5 .wrapper-text-block .text-block {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .block5 .wrapper-text-block .text-block .block {
        max-width: none;
    }
    .block5 .wrapper-text-block .text-block .block .text {
        max-width: none;
    }
}