.block3 {
    position: relative;
    display: flex;
    width: 100%;
    max-width: none;
    justify-content: center;
    overflow: hidden;

    .bacground-ap {
        position: absolute;
        width: 100%;
        height: calc(100%);
        background-color: #F4F4F4;
        left: 0;
        top: 0;
        z-index: 5;
        margin-top: 120px;
    }

    .wrapper-con {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
        max-width: 1200px;
        margin-top: 120px;
    }

    .text-container {
        z-index: 15;

        .logo {
            display: flex;
            width: 100%;
            max-width: 100px;
            margin-bottom: 20px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .text-block {
            display: flex;
            flex-direction: column;

            .top {
                font-family: 'Montserrat-bold';
                font-weight: 600;
                font-size: 40px;
                line-height: 110.00000000000001%;
                letter-spacing: 0px;
                
                margin-bottom: 20px;
                color: #282828;

            }
            .text {
                display: flex;
                width: 100%;
                max-width: 440px;
                font-family: 'Montserrat-reg';
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0px;
                
                margin-bottom: 30px;
                color: #1B1A1A;
            }
        }
    }
    .pic {
        display: flex;
        width: 100%;
        max-width: 580px;
        z-index: 15;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:750px) {
    .block3 .wrapper-con {
        flex-direction: column;
        align-items: start;
        margin-top: clamp(90px, 20vw, 120px);
    }
    .block3 .pic {
        width: 100%;
        align-self: center;
    }
    .block3 .text-container {
        margin-top: 90px;
    }
}

@media (max-width:490px) {
    .block3 .text-container .logo img {
        width: 70px;
        height: 70px;
    }
}