.block4 {
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Inter-semi';
        font-weight: 600;
        font-size: 40px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        color: #282828;

        margin-bottom: 30px;
    }
    .collection, .mySwiper .swiper-wrapper .swiper-slide {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .block {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 373px;
            gap: 20px;
            margin-top: 0;
            padding: 0;

            .pic {
                display: flex;
                width: 100%;
                height: 460px;
                max-height: 460px;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .text-block {
                display: flex;
                flex-direction: column;
                width: 100%;

                .block__title {
                    font-family: 'Inter-bold';
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 120%;
                    letter-spacing: 0px;

                    margin-bottom: 10px;
                    color: #909090;
                }
                .block__text {
                    font-family: 'Inter-reg';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0px;

                    margin-bottom: 10px;
                    color: #282828;
                }

                .block__text.hidden {
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* Количество строк */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: 4.5em; /* 3 строки × 1.5 line-height */
                    line-height: 1.5em;
                }


                .next {
                    cursor: pointer;
                    display: flex;
                    align-self: start;
                    padding-bottom: 2px;
                    border-bottom: 1px solid #909090;
                    transition: .3s ease;

                    font-family: 'Inter-reg';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: 0px;


                    &:hover {
                        font-family: 'Inter-semi';
                        font-weight: 500;
                        border-bottom: 1px solid #000;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .block4 .collection .block .pic, .block4 .mySwiper .swiper-wrapper .swiper-slide .block .pic {
        height: clamp(320px,40vw,460px);
        max-height: clamp(320px,40vw,460px);
    }
}

@media (max-width:870px) {
    .block4 .collection .block {
        min-width: 260px;
    }
}

@media (max-width:590px) {
    .block4 .collection .block, .block4 .mySwiper .swiper-wrapper .swiper-slide .block {
        min-width: 260px;
        max-width: 260px;
    }
    .block4 h2 {
        margin-bottom: 20px;
    }
}