.contact {
    display: flex;
    .title-top {
        font-family: 'Inter-semi';
        font-weight: 600;
        font-size: 40px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;

        color: #1B1A1A;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 389px;
        gap: 30px;

        .contact-block {
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                .text-con:last-child {
                    margin-top: 10px;
                }
            }

            &:nth-child(4) {
                .text-con {
                    border-bottom: 1px solid #000;
                    max-width: fit-content;
                }
            }

            .title-con {
                font-family: 'Inter-semi';
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0px;

                color: #1B1A1A;
                margin-bottom: 10px;
            }
            .text-con {
                font-family: 'Inter-reg';
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0px;

                color: #1B1A1A;
            }

            .social {
                display: flex;
                gap: 12px;
                margin-bottom: 10px;
                .img-con {
                    cursor: pointer;
                    width: 100%;
                    max-width: 40px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .descript {
                font-family: 'Inter-reg';
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0px;

                color: #909090;
            }
        }
    }
    .map-container {
        display: flex;
        width: 100%;
        min-height: 100%;
        background-color: #909090;
    }
}

@media (max-width:740px) {
    .block.contact {
        flex-direction: column-reverse;
        padding: 0;
        display: grid;
        grid-template-areas: 
        'title'
        'map'
        'text';
    }
    .contact .text-block .contact-block:nth-child(4) .text-con {
        border: none;
    }
    .contact .map-container {
        height: 250px;
        grid-area: map;
    }
    .contact .title-top {
        display: block !important;
        grid-area: title;
        padding: 0 20px 20px;
    }
    .contact .text-block .title-top {
        display: none !important;
    }
    .contact .text-block {
        grid-area: text;
        padding: 20px 20px 0;
        max-width: none;
        box-sizing: border-box;
        gap: 20px;
    }
}