/* Стили для попапа */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup {
    margin: 0 20px;
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    max-height: 660px;
    overflow: hidden;
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup-overlay.active .popup {
    opacity: 1;
    transform: translateY(0);
}

.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 100%;
    max-width: 32px;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

.popup-close:hover {
    background-color: #f0f0f0;
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .popup-text {
        display: flex;
        flex-direction: column;
        align-self: center;
        #popupTitle {
            font-family: 'Inter-bold';
            font-weight: 700;
            font-size: 25px;
            line-height: 120%;
            letter-spacing: 0px;

            color: #909090;
            margin-bottom: 10px;
        }
        #popupDescription {
            font-family: 'Inter-reg';
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0px;

            color: #282828;
        }
    }
}

@media (min-width: 768px) {
    .popup-content {
        flex-direction: row;
    }
}

.popup-image {
    flex: 1;
    width: 100%;
    min-width: 580px;
    min-height: 660px;
    overflow: hidden;
}

.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-text {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    max-height: 70vh;
}

.popup-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.popup-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    white-space: normal;
}

@media (max-width:1150px) {
    .popup-image {
        min-width: auto;
    }
}

/* Для мобильных */
@media (max-width: 767px) {
    .popup {
        margin: 0;
        align-self: end;
        max-height: none;
        transform: translateY(50px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        max-height: 85%;
        overflow: auto;
    }
    .popup-overlay.active .popup {
        opacity: 1;
        transform: translateY(0);
    }
    .popup-image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 412px;
        height: 100%;
        min-height: 412px;
        width: auto;
        min-width: auto;
    }
    .popup-text {
        padding: 20px 20px 50px;
    }
}

@media (max-width:620px) {
    .popup-special .popup .popup-content .popup-image img {
        width: 100%;
    }
    .popup-image img {
        width: auto;
        max-height: 412px;
    }
}




