/* Стили для попапа */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-overlay.active {
    display: flex;
    opacity: 1;
}

.popup {
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    max-height: 660px;
    overflow: hidden;
    position: relative;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.popup-overlay.active .popup {
    transform: translateY(0);
}

.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 100%;
    max-width: 32px;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.popup-close:hover {
    background-color: #f0f0f0;
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .popup-text {
        display: flex;
        flex-direction: column;
        #popupTitle {
            font-family: 'Inter-bold';
            font-weight: 700;
            font-size: 25px;
            line-height: 120%;
            letter-spacing: 0px;

            color: #909090;
            margin-bottom: 10px;
        }
        #popupDescription {
            font-family: 'Inter-reg';
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0px;

            color: #282828;
        }
    }
}

@media (min-width: 768px) {
    .popup-content {
        flex-direction: row;
    }
}

.popup-image {
    flex: 1;
    width: 100%;
    min-width: 580px;
    // min-height: 300px;
    overflow: hidden;
}

.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-text {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    max-height: 70vh;
}

.popup-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.popup-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    white-space: normal;
}

/* Для мобильных */
@media (max-width: 767px) {
    .popup-text {
        max-height: 50vh;
        padding: 20px;
    }
    
    .popup-text h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}