.img-block {
    user-select: none;
    display: grid;
    width: 100%;
    max-width: 840px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 120px;
    padding: 0 20px;
    gap: 40px;
    .content-img {
        user-select: none;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        box-sizing: contain;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:880px) {
    .img-block {
        box-sizing: border-box;
        gap: clamp(15px,5vw, 40px);

        .content-img {
            max-height: clamp(176px, 43vw, 400px);
            min-width: 170px;
            min-height: 176px;
        }
    }
}

@media (max-width:401px) {
    .img-block .content-img {
        min-width: auto;
    }
}