.main-sec {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 900px;
    min-height: 900px;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    z-index: 1;

    .wrapper {
        position: absolute;
        bottom: 70px;
        
        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 20px;

            p {
                max-width: 373px;
            }
        }

    }
}

@media (max-width:1700px) {
    .main-sec {
        min-height: clamp(710px, 65vw, 900px);
        max-height: clamp(710px, 65vw, 900px);
    }
}

@media (max-width:1500px) {
    .main-sec {
        .text {
            .title {
                font-size: clamp(40px, 5vw, 72px);
            }
            .text1 {
                font-size: clamp(15px, 2vw, 18px);
            }
        }
    }
    .main-sec .wrapper .text {
        gap: clamp(10px, 2vw, 30px);
    }
}