.main-sec {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: calc(100vh - 70px);
    height: calc(100svh - 70px);
    min-height: 600px;
    z-index: 1;
    overflow: hidden;

    .bg-img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 900px;
        transform:none;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .wrapper {
        position: absolute;
        bottom: 70px;
        
        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 20px;

            p {
                max-width: 373px;
            }
        }

    }
}

@media (max-width:1920px) {
    .main-sec .bg-img {
        height: 100%;
        min-height: auto;

        img {
            width: auto;
            height: 100%;
        }
    }
}

@media (max-width:2163px) {
    .main-sec .bg-img {
        height: 100%;
        min-height: auto;

        img {
            width: auto;
            height: 100%;
        }
    }
}
@media (max-width:1160px) {
    .main-sec {
        height: calc(100vh - 6vw);
        height: calc(100svh - 6vw);
    }
}

@media (max-width:1160px) {
    .main-sec {
        height: calc(100vh - 50.5px);
        height: calc(100svh - 50.5px);
    }
}

@media (min-width:1200px) {
    .main-sec .bg-img img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:585px) {
    .main-sec .bg-img {
        display: flex;
        transform: translateX(53%);
        justify-content: center;
    }
}

@media (max-width:1500px) {
    .main-sec {
        .text {
            .title {
                font-size: clamp(40px, 5vw, 72px);
            }
            .text1 {
                font-size: clamp(15px, 2vw, 18px);
            }
        }
    }
    .main-sec .wrapper .text {
        gap: clamp(10px, 2vw, 30px);
    }
    .main-sec .wrapper {
        bottom: clamp(50px, 10vw, 70px);
    }
}
@media (max-width:700px) {
    .main-sec {
        background-position: 30%;
    }
}
