.main-sec {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: calc(100vh - 70px);
    height: calc(100svh - 70px);
    min-height: 600px;
    z-index: 1;
    overflow: hidden;

    .bg-img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 900px;
        transform:none;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .wrapper {
        position: absolute;
        bottom: 70px;
        
        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 20px;

            p {
                max-width: 373px;
            }

            .btn-container {
                display: flex;
                width: 100%;
                gap: 20px;
                .btn-item {
                    cursor: pointer;
                    color: #fff;
                    font-size: 18px;
                    font-family: 'Montserrat-semi';
                    font-weight: 600;
                    background-color: transparent;
                    border: 1px solid #fff;
                    width: 100%;
                    max-width: 270px;
                    padding: 16.5px 10px;
                }
                .btn-item:nth-child(1) {
                    background-color: #fff;
                    color: #252324;
                    transition: .3s ease;

                    &:hover {
                        background-color: transparent;
                        color: #fff;
                        transition: .3s ease;
                    }
                }
            }
        }

    }
}

@media (max-width:1920px) {
    .main-sec .bg-img {
        height: 100%;
        min-height: auto;

        img {
            width: auto;
            height: 100%;
        }
    }
}
@media (max-width:2163px) {
    .main-sec .bg-img {
        height: 100%;
        min-height: auto;

        img {
            width: auto;
            height: 100%;
        }
    }
}
@media (max-width:1160px) {
    .main-sec {
        height: calc(100vh - 6vw);
        height: calc(100svh - 6vw);
    }
}
@media (max-width:1160px) {
    .main-sec {
        height: calc(100vh - 50.5px);
        height: calc(100svh - 50.5px);
    }
}
@media (min-width:1200px) {
    .main-sec .bg-img img{
        // width: 100%;
        height: 100%;
    }
}
@media (max-width:840px) {
    .main-sec .bg-img {
        display: flex;
        // transform: translateX(53%);
        justify-content: center;
    }
}
@media (max-width:790px) {
    .main-sec .wrapper .text .btn-container {
        margin-top: 20px;
    }
}
@media (max-width:1500px) {
    .main-sec {
        .text {
            .title {
                font-size: clamp(40px, 5vw, 72px);
            }
            .text1 {
                font-size: clamp(15px, 2vw, 18px);
            }
        }
    }
    .main-sec .wrapper .text {
        gap: clamp(10px, 2vw, 30px);
    }
    .main-sec .wrapper {
        bottom: clamp(50px, 10vw, 70px);
    }
    .main-sec .wrapper .text .btn-container .btn-item {
        font-size: clamp(15px, 2vw, 18px);
        padding: clamp(13.5px, 2vw, 16.5px) 0;
    }
}
@media (max-width:768px) {
    .main-sec {
        height: clamp(620px,20vw,710px);
        width: 100%;
    }
}
@media (max-width:700px) {
    .main-sec {
        background-position: 30%;
    }
}

@media (max-width:630px) {
    .main-sec .wrapper .text .btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-sec .wrapper .text .btn-container .btn-item:nth-child(1) {
        grid-column: span 2;
        width: 100%;
        max-width: none;
    }
}

@media (max-width:608px) {
    .main-sec .bg-img {
        transform: translateX(53%);
    }
}
