.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #252424;
}

.marquee {
    display: flex;
    width: fit-content;
    animation: marqueeScroll linear infinite;
    padding: 18px 0;
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Двигаем на половину ширины */
    }
}

.marquee-item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 25px;

    font-family: 'Montserrat-semi';
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
    margin-left: 25px;
    color: #fff;
}

@media (max-width:1500px) {
    .marquee-item {
        font-size: clamp(16px, 2vw, 24px);
        margin-right: clamp(20px, 2vw, 25px);
    }
    .dot {
        margin-left: clamp(20px, 2vw, 25px);
    }
    .marquee {
        padding-top: clamp(14px, 2vw, 18px);
        padding-bottom: clamp(14px, 2vw, 18px);
    }
}