.mySwiper {
    width: 100%;
    padding: 20px 0 40px;
}

.swiper-slide {
    height: auto;
}

/* Стили для навигации и пагинации */
.swiper-button-next,
.swiper-button-prev {
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}

.swiper-pagination-bullet {
    background: #333;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.mySwiper {
    display: none;
}

@media (max-width:870px) {
    .mySwiper {
        display: block;
    }
}

@media (max-width:590px) {
    .mySwiper .swiper-slide {
        width: auto !important; /* Автоматическая ширина по контенту */
    }

    .mySwiper .swiper-slide .block {
        width: 260px; /* Фиксированная ширина каждого блока */
    }
}