
.block-slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 40px;
    h2 {
        margin-left: 10%;
        font-size: 28px;
        color: #1C1C1C;
        padding: 72px 0 28px;
    }

    .mySwiper_about {
      width: 100%;
      height: 560px;

      .swiper-wrapper {
        box-sizing: border-box;
        padding-bottom: 20px;

          .swiper-slide {
            display: flex;
            width: auto;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            img {
              border-radius: 20px;
                height: 100%;
                object-fit: cover;
            }
          }
      }
    }
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
  width: 36px;
  height: 36px;
  color: #1C1C1C !important;
}

.swiper-button-next, .swiper-button-prev {
    ::slotted(svg), svg {
      width: 25% !important;
    }}

@media (min-width:1200px) {
  .swiper-button-next, .swiper-button-prev {
    display: flex !important;
  }
}
@media (max-width:1085px) {
  .block-slider .mySwiper_about {
    height: clamp(406px,40vw,560px);
  }
}

@media (max-width:768px) {
  .block-slider h2 {
    font-size: clamp(21px,4vw,28px);
    margin-left: 12px;
  }
}